body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  background :url(../public/space_ring_2-wallpaper-1920x540.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.counterReact{
  margin-top: 7rem;
  color:rgb(47, 4, 82);
}
button {
  text-align: center;
  border: 2px solid transparent;
  padding: 0.6rem 1.5rem;
  margin: 0.6rem 0.2rem;
  font-size: 0.8rem;
  border-radius: 1.1rem;
  line-height: 1.25;
  cursor: pointer;
}
.taps {
  font-size: 2rem;
  color: lightblue;
  margin-bottom: 1rem;
}
.counter {
  padding: 15px;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.count {
  font-size: 2rem;
  color: rgb(44, 2, 30);
}
.reset-count {
  background-color: rgb(107, 92, 182);
}

.reset-all {
  background-color: rgb(238, 118, 202);
}
.colorCounter{
  color: rgb(54, 2, 39);
}
.hideCounter{
  background-color:rgb(207, 37, 150) ;
  color:white;
}

